html {
    font-size: 62.5%;
    box-sizing: border-box;

    /* color-primary */
    --color-primary-desaturated-red: hsl(0, 36%, 70%);
    --color-primary-soft-red: hsl(0, 93%, 68%);
    
    /* color-neutral */
    --color-neutral-dark-grayish-red: hsl(0, 6%, 24%);
    
    /* primary-font */
    --primary-font: font-family: 'Josefin Sans', sans-serif;
}


*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-left: 170px;
}

.content-container {
  width: 50%;
}

header {
  width: 50%;
  padding-bottom: 140px;
}

body h1 {
  font-size: 60px;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 6rem;
  letter-spacing: 1.8rem;
}

body h1:first-child {
  color: var(--color-primary-desaturated-red);
  font-weight: 200;
}

body p {
  margin-top: 3rem;
  margin-bottom: 10px;
  line-height: 2.5rem;
  font-size: 16px;
  font-family: var(--primary-font);
  color: var(--color-primary-desaturated-red);
  font-weight: 400;
  word-spacing: 0.2rem;
  width: 80%;
}

.form-group {
  position: relative;
  height: 50px;
  left: -2%;
}

.form-group input {
  width: 90%;
  height: 100%;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
  border: 3px solid hsl(0, 36%, 88%);
  padding-left: 25px;
  font-size: 20px;
  outline: none;
}

.form-group input:focus {
  border: 3px solid hsl(0, 36%, 60%);
}

.form-group input::placeholder {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 400;
  color: var(--color-primary-desaturated-red);
}

#hero-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
}

#error-icon {
  position: relative;
  left: -20%;
  top: 10%;
  visibility: hidden;
}

.form-group button {
  position: absolute;
  height: 100%;
  width: 15%;
  left: 80%;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  border-radius: 130px;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  outline: none;
}

.form-group button:hover {
  cursor: pointer;
  background: linear-gradient(135deg, hsl(0, 80%, 50%), hsl(0, 74%, 74%));
}

.form-group span:last-child {
  display: block;
  font-family: var(--primary-font);
  color: var(--color-primary-soft-red);
  font-size: 16px;
  margin-left: 10px;
  visibility: hidden;
}

@media only screen and (max-width:1100px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 30px;
  }

  #hero-img {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding-bottom: 70px;
  }

  .content-container {
    width: 40%;
  }

  body h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--primary-font);
    line-height: 6rem;
    letter-spacing: 1.8rem;
  }

  .form-group {
    width: 120%;
  }

  .form-group button {
    position: absolute;
    height: 100%;
    width: 15%;
    left: 75%;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    border-radius: 130px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    outline: none;
  }

  #error-icon {
    left: -24%;
  }
}

 @media only screen and (max-width: 690px) {
  #hero-img {
    content: url(/images/hero-mobile.jpg)
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    
  }

  header {
    align-self: flex-start;
    margin-bottom: 65vh;
  }

  .content-container {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .form-group {
    width: 100%;
    justify-self: center;
  }

  .form-group button {
    left: 80%;
  }

  #error-icon {
    left: -20%;
  }
}
